<!DOCTYPE html>
<html lang="en">

	<%- include('partials/header.ejs') %>

	<body class="c-bg">
		
		<%- include('partials/navbar.ejs') %>

		<div class="container d-flex justify-content-center mt-5">
			<div class="card mx-3" style="width: 30rem; min-height: 500px">
				<div class="card-header text-center"><%= date %></div>
				<div class="m-3">
					<form class="d-flex gap-3" action="/add" method="POST">
						<input class="form-control" placeholder="New Item" type="text" name="list" required/>
						<button class="btn btn-dark" type="submit" value="submit">Add</button>
					</form>
				</div>
				<ul class="list-group list-group-flush border-bottom">
					<% todolist.forEach((todo) => { %>
						<li class="list-group-item">
							<input
								class="form-check-input me-1"
								type="checkbox"
								value=""
								id="" />
							<label class="form-check-label" for="Checkbox"><%= todo %></label>
						</li>
					<% }) %>
				</ul>
			</div>
		</div>

		<%- include('partials/footer.ejs') %>

		<%- include('partials/script.ejs') %>
	</body>
</html>
